/* body {
  background-color: rgb(40, 40, 40);
} */

.main-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.signup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.signup-container img {
  height: 200px;
  width: auto;
  margin: 30px;
}

.signup-container input {
  height: 25px;
  width: 250px;
  padding: 10px;
  /* border: 1px solid white; */
  border-radius: 5px;
  background-color: #161925;
  color: white;
}

.signup-container form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.btn {
  padding: 10px 50px;
  border-radius: 20px;
  border: none;
  background-color: #828489;
  color: white;
  margin: 20px 0 20px 0;
  cursor: pointer;
  font-weight: bold;
  transform: 0.7s ease;
}

.btn:hover {
  /* font-size: 16px; */
  /* padding: 12px 75px; */
  background-color: #64676c;
}

.goback {
  margin: 10px 0;
  color: white;
}
