body {
  background-color: black;
}

.main-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login-container img {
  height: 200px;
  width: auto;
  margin: 30px;
}

.login-container input {
  height: 25px;
  width: 250px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: rgb(46, 46, 46);
  color: white;
}

.login-container form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.btn {
  padding: 10px 50px;
  border-radius: 20px;
  border: none;
  background-color: #1ed760;
  color: black;
  margin: 10px 0 20px 0;
  cursor: pointer;
  font-weight: bold;
}

.btn:hover {
  font-size: 16px;
  padding: 12px 75px;
}

.login-container p {
  color: lightgrey;
}

.login-container a {
  color: white;
}

.extra-signup {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 25px;
}

.extra-signup button {
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
  gap: 20px;
}

.extra-signup img {
  width: 50px;
  height: auto;
}
