.feature-playlist {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 200px;
}

.circle {
  background-color: #3498db;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.play-button {
  font-size: 24px;
  color: #fff;
}

.rotating-text {
  color: #fff;
  animation: spin 4s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
