.feature-playlist {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: 250px;
}
.featured-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
}
.circle {
  background-color: #23395b;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.details {
  display: flex;
}

.play-button {
  font-size: 24px;
  color: #fff;
}

.rotating-text {
  color: #fff;
  animation: spin 4s linear infinite;
  font-size: 24px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
