.feature-playlist {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: 250px;
}
.featured-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
}
.circle {
  background-color: #23395b;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background: linear-gradient(
    41deg,
    rgb(55, 65, 70) 0%,
    rgba(35, 57, 91, 1) 60%,
    rgb(32, 39, 52) 100%
  );
  -webkit-animation: AnimateBG 7s ease infinite;
  animation: AnimateBG 7s ease infinite;
}

@-webkit-keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.details {
  display: flex;
}

.play-button {
  font-size: 24px;
  color: #fff;
}

.rotating-text {
  color: #fff;
  animation: spin 4s linear infinite;
  font-size: 24px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
