@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@300&family=Lobster&family=Poppins:wght@300;400;500;600&family=Sedgwick+Ave+Display&display=swap');

.remove-btn {
  background-color: #698996;
  border: none;
  color: #272a30;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  float: right;
  /* margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px; */
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.2s ease;
}

.song-name {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  /* letter-spacing: 1px; */
  /* text-transform: uppercase; */
  transition: 0.2s ease;
  /* color: #f2e3bc; */
}
