.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 25px;
  background-image: linear-gradient(to right, #272a30, #2b2c4d, #23395b);
  background-size: 150% 150%;
  -webkit-animation: AnimateBG 7s ease infinite;
  animation: AnimateBG 7s ease infinite;
}

@-webkit-keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes animateBackground {
  0% {
    background-position: 150%;
    color: #e0e0e0;
  }
  50% {
    background-position: 50%;
    color: #efefef;
  }
  100% {
    background-position: -50%;
    color: #e0e0e0;
  }
}

@-webkit-keyframes animateBackground {
  0% {
    background-position: 150%;
  }
  100% {
    background-position: -50%;
  }
}

.nav-title {
  background: radial-gradient(circle closest-side, #fff 97%, #000),
    radial-gradient(circle closest-side, #23395b9d 97%, #0000);
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  background-size: 230% 100%;
  background-repeat: no-repeat;
  animation: animateBackground 2.5s linear infinite alternate;
  /* color: #f2e3bc; */
}

/* .nav-container h1 {
  color: white;
} */

.list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 15px;
}

.list-container .link {
  text-decoration: none;
  /* border-bottom: 1px solid black; */
  padding: 5px;
  color: lightgrey;
  transition: color 0.5s ease;
}

.list-container .link:hover {
  color: #afb1b8;
  /* font-size: 18px; */
}

.list-container .login-logout {
  text-decoration: none;
  /* border: 1px solid white; */
  padding: 5px 18px;
  border-radius: 10px;
  color: black;
  background-color: white;
  transition: color 0.5s ease, background-color 0.5s ease;
}

.list-container .login-logout:hover {
  color: #0b0b0b;
  background-color: #afb1b8;
  /* font-size: 18px; */
}
